:root {
  --portlandOrange: #ff6240;
  --sheenGreen: #6dd722;
  --inchworm: #9dec60;
  --blackOlive: #433f39;
}

body {
  margin: 0;
}

.App {
  background-size: 31.25rem;
  width: 100%;
  height: 100vh;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tomato {
  width: 50px;
}

.subTitle {
  font-size: 1.5em;
  line-height: 18px;
  color: var(--blackOlive);
}

#output {
  font-size: 1.5em;
  line-height: 18px;
  line-height: 18px;
  max-width: 350px;
  color: var(--blackOlive);
}

#output:focus {
  outline: none;
  background-color: papayawhip;
}

#output:focus + span::after {
  content: "The processed tweet has been copied to your clipboard :)";
}
